@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
  background-image: url('./home.avif'); /* Replace with your image name */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.active li {
  color: rgb(46, 98, 253);
  font-weight: bold;


}

.active p {
  color: red;
}

.active button {
  background-color: rgb(28, 244, 176);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  transition: 0.5s;
}


.container {
  margin-top: 10%;
}