.mainContainer{
    margin-top: 8%;
    border: 1px dashed black;
    border-radius: 10px;
    background-color: rgb(229, 238, 245);  
    justify-items: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 2%;
    padding-top: 1%;
}



.inputs{
    justify-items: center;
    width: 65%;
}


.inputs input{
    display: block;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 3%;
    width: 80%;
    border: 1px solid green;
    border-radius: 5px;
    font-size: large;
}

.submitButton{
    width: 83%;
    height: 40px;
    cursor: pointer;
    border: 1px solid rgb(69, 70, 68);
    border-radius: 7px;
    background-color: rgb(101, 255, 204);
    transition: .4s;
    font-size: large;
    font-weight: bold;
}

.submitButton:hover{
    background-color: rgb(74, 219, 255);
    color: rgb(240, 247, 255);
}