.mainContainer{
    margin-top: 15%;
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgb(133, 165, 189);  
    justify-items: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 2%;
    padding-top: 1%;
}

.inputs{
    color: rgb(17, 5, 72);
    font-weight: bold;
    justify-items: center;
    width: 65%;
}


.inputs input{
    display: block;
    height:25px;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 3%;
    width: 80%;
    border: 1px solid green;
    border-radius: 5px;
    font-size: small;
}

.submitButton{
    width: 20px;
    height: 40px;
    cursor: pointer;
    border: 1px solid rgb(69, 70, 68);
    border-radius: 5px;
    background-color: rgb(106, 96, 174);
    transition: .4s;
    font-size: small;
    font-weight:bolder;
}

.submitButton:hover{
    background-color: rgb(46, 175, 106);
    color: rgb(240, 247, 255);
}


